altgraph==0.16.1
astroid==2.3.1
autopep8==1.4.4
blinker==1.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
Flask==1.0.2
Flask-Mail==0.9.1
future==0.18.0
idna==2.7
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.4.2
macholib==1.11
MarkupSafe==1.1.1
mccabe==0.6.1
pefile==2019.4.18
pycodestyle==2.5.0
PyInstaller==3.4
pylint==2.4.2
pyodbc==4.0.24
python-dateutil==2.7.3
pywin32-ctypes==0.2.0
requests==2.20.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.24.3
Werkzeug==0.14.1
wrapt==1.11.2
